<!-- Create modal with pic of movie, its synopsis, and add buttons for liked, disliked, and favorited. Add logic to add favorited movies into favorites component -->
<button type="button" class="btn btn-success my-3" [hidden]="visible" id="movitBtn" (click)="getMovies(movieArray)">Get Movies</button>
<div class="d-flex justify-content-center">
<div class="card text-center bg-dark border border-dark w-75" >

    <img [src]=
    "tenMovies[0].image" 
     class="card-img-top" style=" display: block; margin-left: auto; margin-right: auto;width: 40%; min-width: 100px; min-height: 200px;" 
     alt="movie poster">

    <div class="card-body bg-light border border-dark" >
      <h5 id="movieTitle" class="card-title">
        {{tenMovies[0].fullTitle}}
      </h5>
      <p  id="movieRating" class="card-text"><small class="text-muted">IMDb Rating: {{tenMovies[0].imDbRating}}</small></p>
      <button type="button" id="likeBtn"class="btn btn-success mx-3 border border-dark" >Like</button>
      <button type="button" id="favBtn" class="btn btn-info mx-3 border border-dark" >Favorite</button>
      <button type="button" id="dislikeBtn" class="btn btn-danger mx-3 border border-dark" >Dislike</button>
    </div>
    </div>
  