<!-- Create modal with pic of movie, its synopsis, and add buttons for liked, disliked, and favorited. Add logic to add favorited movies into favorites component -->
<button type="button" class="btn btn-success" (click)="getMovies(movieArray)">Get Movies</button>
<div class="card text-center" >

    <img src={{movieImg}} class="card-img-top" style=" display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;" alt="...">

    <div class="card-body" >
      <h5 class="card-title">{{movieTitle}}</h5>
      <!-- <p class="card-text">Movie Synopsis.</p> -->
      <p class="card-text"><small class="text-muted">IMDB Rating:{{imdbRating}}</small></p>
      <button type="button" class="btn btn-success mx-3">Like</button>
      <!-- (click)="nextMovie()" -->
      <button type="button" class="btn btn-primary mx-3">Favorite</button>
      <button type="button" class="btn btn-danger mx-3">Dislike</button>
    </div>
  