
<p class="d-flex justify-content-center" style="color:black">Type in a movie you want to see!</p>
<div class="d-flex justify-content-center">
    <input type="text" [(ngModel)]="searchName">
    <button type="button" class="btn btn-success" (click)="searchFavs(searchName)">Search</button>
</div>
<br>
<br>
<table *ngIf="movie" class="table">
    <tr>
        <th style="color: white;">Movie Name</th>
        <th style="color: white;">Release Date</th>
        <th style="color: white;">Poster</th>
        <th style="color: white;">Favorite</th>
    </tr>
    <tr>
        <td>{{movie.results[0].title}}</td>
        <td>{{movie.results[0].description}}</td>
        <td><img src="{{movie.results[0].image}}" width="170" height="150"></td>
        <td><button class="btn btn-primary" (click)="addFav1()">Save</button></td>
    </tr>
    <tr>
        <td id="movieName">{{movie.results[1].title}}</td>
        <td>{{movie.results[1].description}}</td>
        <td><img src="{{movie.results[1].image}}" width="170" height="150"></td>
        <td><button class="btn btn-primary" (click)="addFav2()">Save</button></td>
    </tr>
    <tr>
        <td id="movieName">{{movie.results[2].title}}</td>
        <td>{{movie.results[2].description}}</td>
        <td><img src="{{movie.results[2].image}}" width="170" height="150"></td>
        <td><button class="btn btn-primary" (click)="addFav3()">Save</button></td>
    </tr>
</table>