<br>
<p>Type in a movie you want to see!</p>

<input type="text" [(ngModel)]="searchName">
<button type="button" class="btn btn-success" (click)="searchFavs(searchName)">Search</button>
<br>
<br>
<table *ngIf="movie" class="table">
    <tr>
        <th>Movie Name</th>
        <th>Release Date</th>
        <th>Poster</th>
        <th>Favorite</th>
    </tr>
    <tr>
        <td [innerHTML]="movie.results[0].title" id="movie_name">{{movie.results[0].title}}</td>
        <td>{{movie.results[0].description}}</td>
        <td><img src="{{movie.results[0].image}}" width="170" height="150"></td>
        <td><button class="btn btn-primary" (click)="addFav()">Save</button></td>
    </tr>
    <tr>
        <td id="movieName">{{movie.results[1].title}}</td>
        <td>{{movie.results[1].description}}</td>
        <td><img src="{{movie.results[1].image}}" width="170" height="150"></td>
        <td><button class="btn btn-primary">Save</button></td>
    </tr>
    <tr>
        <td id="movieName">{{movie.results[2].title}}</td>
        <td>{{movie.results[2].description}}</td>
        <td><img src="{{movie.results[2].image}}" width="170" height="150"></td>
        <td><button class="btn btn-primary">Save</button></td>
    </tr>
</table>