
<br>
<div *ngIf="user.group.id==0; else groupTitle">
    <button class="btn btn-primary m-2" (click)="open(createName)">Create Group</button>
    <button class="btn btn-primary m-2" (click)="open(joinIn)">Join Group</button>
</div>
<ng-template #groupTitle>
    <h4 style="color:black">Your group:</h4>
    <h2>{{user.group.name}}</h2>
    <button *ngIf="user.roleId==2" class="btn btn-primary m-2" (click)="open(applyUpdates)">Update Group</button>
    <button class="btn btn-primary m-2" (click)="leaveGroup()">Leave Group</button>
    <button class="btn btn-primary m-2" (click)="goToPage('decisions')">Find a movie!</button>
</ng-template>

<ng-template #createName let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Get Together</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">X</button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="name">Group Name</label>
          <div class="input-group">
            <input id="name" type="text" name="inputName" [(ngModel)]="user.group.name">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('create')">Create</button>
    </div>
  </ng-template>

  <ng-template #joinIn let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Get Together</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">X</button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="id">Group Code</label>
          <div class="input-group">
            <input id="id" type="text" name="inputName" [(ngModel)]="user.group.id">
          </div>
          <label>{{errorMessage}}</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('join')">Join</button>
    </div>
  </ng-template>

  <ng-template #applyUpdates let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Your Group</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">X</button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="id">Group Name</label>
          <div class="input-group">
            <input id="id" type="text" name="inputName" [(ngModel)]="user.group.name">
          </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitches" [checked]="user.group.open" (change)="user.group.open=!user.group.open">
                <label class="custom-control-label" for="customSwitches">Group is {{(user.group.open)?'open':'closed'}} to new members</label>
            </div>
          <label>{{errorMessage}}</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('update')">Update</button>
    </div>
  </ng-template>