<div class="container">
    <header class="header">
      <h3 class="d-flex justify-content-center">Profile Info</h3>
      <div class="d-flex justify-content-center">
        
        <p>
          <b>Username:</b> {{user.username}} 
          <br>      
          <b>Full Name:</b> {{user.firstName}} {{user.lastName}}
          <br>      
          <b>Email: </b> {{user.email}}
        </p>
      </div>
      
    </header>
  
    <!-- Replace <div> with <aside> if your content has one aside. For more than one, nest <aside> elements in the <div>. -->
    <div>
      <h3>Your Group:</h3>
      <app-group></app-group>
    </div>
  
    <main class="content">
      <p><app-favorites></app-favorites></p>
    </main>
  
 
    <div>
      <h3>Favorites:</h3>
      <p>{{imdbId}}</p>
      <p>{{movie1}}</p>
      <p>{{movie2}}</p>
      <p>{{movie3}}</p>
      <p>{{movie4}}</p>
      <p>{{movie5}}</p>
      <p>{{movie6}}</p>
      <p>{{movie7}}</p>
    </div>
  
    <!-- <footer class="footer">
      <p>footer</p>
    </footer> -->
  </div>
  
<router-outlet></router-outlet>
