<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" routerLink="/user" routerLinkActive="active"><b>upNext=></b></a>
        </div>

        <!-- <div><a class="nav-link" routerLinkActive="active" routerLink="group">Group</a></div> -->

        <!-- <span>Welcome back  
            <span id="loginName" name="loginName"></span>
            <span>!</span>
        </span> -->
      
        <!-- if user logged in, show button *ngIf -->
        <button onclick="this.style.backgroundColor = '#21cc76'" class="btn btn-primary" id="logoutBtn" (click)="logout()" (click)="goToPage('login')">Logout</button>
    </div>
</nav>
